<header style="background-color: #e8b819; padding: 1rem; text-align: center;">
  <h1>Habit Tracker</h1>
  <nav style="text-align: right;">
    <a href="/" style="margin: 0 1rem; color: black; text-decoration: none;">Home</a>
    <a href="/habits/create" style="margin: 0 1rem; color: black; text-decoration: none;">Add Habit</a>
    <a href="/read-only" style="margin: 0 1rem; color: black; text-decoration: none;">Read Habits</a>
  </nav>
</header>
