<div class="about-container">
    <!-- Video in a Box -->
    <div class="video-box">
        <video controls autoplay loop muted playsinline controlslist="nodownload">
            <source src="./images/video.mp4" type="video/mp4">
        </video>
    </div>

    <!-- Info Box Next to the Video -->
    <div class="info-box">
        <h2>About Me</h2>
        <p>Hello! I'm Kritika, a passionate web developer with expertise in Node.js and Express. I love creating dynamic and user-friendly websites, and I am always eager to learn new technologies. 
           In my spare time, I enjoy photography and outdoor adventures. Moreover, I love spending time on things related to art, like painting and applying henna on hands.
           I did my schooling back in India and opted for Non-Medical in my Senior-Secondary Education. Also, I chose physical education as a side subject along with fine arts 
           because of my interest in art. Here is a short video; I hope you enjoy watching it:</p>
    </div>
</div>
