<div class="projects-container">
    <h2>My Projects</h2>
    <div class="projects-grid">
        <div class="project-card">
            <img src="./images/pi1.png" alt="Project 1">
            <h3>Makeup website</h3>
            <p>A proper website with 4 different pages featuring a makeup brands and all its brands along with its other partners.</p>
            <div class="project-links">
                
                <a href="https://github.com/Kkritika007/cssproject" target="_blank" class="btn">GitHub</a>
            </div>
        </div>
        <div class="project-card">
            <img src="./images/pi2.png" alt="Project 2">
            <h3>Reeses Peanut Butter Cups</h3>
            <p>A website of reeses choclates using different css features like multiple background gradient feature video options.</p>
            <div class="project-links">
                
                <a href="https://github.com/Kkritika007/cssA3" target="_blank" class="btn">GitHub</a>
            </div>
        </div>
        <div class="project-card">
            <img src="./images/pi3.png" alt="Project 3">
            <h3>Retro Site</h3>
            <p>A website featuring Nike brand. Mainly about how the company started and all about the retro collection of Nike shoes.</p>
            <div class="project-links">
                
                <a href="https://github.com/Kkritika007/Retro-Project" target="_blank" class="btn">GitHub</a>
            </div>
        </div>
        <div class="project-card">
            <img src="./images/pi4.png" alt="Project 4">
            <h3>Currency Converter</h3>
            <p>A currency converter made with help of java language and it uses real time conversion rates with the help of API.</p>
            <div class="project-links">
                
                <a href="https://github.com/Kkritika007/A2JAVA" target="_blank" class="btn">GitHub</a>
            </div>
        </div>
    </div>
</div>
